.alerta {
    position: fixed;
    top: 15px; /* Cambiado de 'bottom' a 'top' para mostrar en la parte superior */
    right: 15px;
    width: auto;
    max-width: 400px;
    z-index: 1050;
    opacity: 0;
    transform: translateY(-20px); /* Cambiado de '20px' a '-20px' para que se deslice desde arriba */
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    background: repeating-linear-gradient(45deg, #081E33, #107863 100px);
}

.alerta.mostrar {
    opacity: 1;
    transform: translateY(0); /* Asegura que la alerta esté en su posición correcta cuando se muestre */
}

.alerta.ocultar {
    opacity: 0;
    transform: translateY(-20px); /* Desliza hacia arriba cuando se oculta */
}

.alerta .btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

.alerta .btn-cerrar .fa {
    font-size: 1.2em;
}

.alerta .icono {
    margin-right: 15px;
    font-size: 1.5em;
}

.alerta .texto {
    margin-right: 30px;
}
