/* Estilos generales para el cuerpo */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #FFFFFF;
    background-image: url(../img_svg/fondosuperior.svg);
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Enlaces */
a:hover {
    text-decoration: none;
}

.link {
    color: #FFFFFF;
}

.link:hover {
    color: #c4c3ca;
}

/* Párrafos */
p {
    font-weight: 500;
    font-size: 14px;
}

/* Encabezados */
h4 {
    font-weight: 600;
}

h6 span {
    padding: 0 20px;
    font-weight: 700;
    color: white;
}

/* Sección */
.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    min-height: 100vh;
}

/* Checkbox */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    display: none;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #FFFFFF;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #0F3B66;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}

/* Tarjeta 3D */
.card-3d-wrap {
    position: relative;
    width: 410px;
    max-width: 100%;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-image: url(../img/rectanguloDegradado.png);
    position: absolute;
    border-radius: 10px;
    transform-style: preserve-3d;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

/* Contenedor central */
.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

/* Aumentar margen entre los inputs y el botón */
.login-form .form-group {
    margin-bottom: 15px;
}

/* Aumentar margen del botón en el formulario */
.login-form .btn {
    margin-top: 15px;
    text-align: center;
}

/* Ajustar el margen superior del enlace "¿Olvidaste tu contraseña?" */
.login-form .container a {
    margin-top: 10px;
}

/* Estilo del formulario */
.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

/* Redondear bordes del formulario */
.login-form {
    border-radius: 10px;
    padding: 20px;
}

/* Icono en el formulario */
.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #0F3B66;
}

/* Botón */
.btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #003366;
    color: #FFFFFF;
    text-align: center;
}

/* Estilo del botón al pasar el ratón */
.btn:hover {
    background-color: #0F3B66;
    color: #FFFFFF;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

/* Asegura que el texto del enlace esté centrado */
.login-form .container a {
    color: #FFFFFF;
}

/* Botón para salir */
a.btnSalir {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    height: 2em;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003366;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    color: #FFFFFF;
}

a.btnSalir > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 13px;
    transition: all 0.4s ease-in;
}

a.btnSalir:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

a.btnSalir:hover {
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
    background-color: #0F3B66;
}
