/* modifica todo el contenesor de la alerta */
.swal2-popup {
    border: 3px solid #ffffff !important; /* Añade el borde aquí */
    color: #ffffff;
    width: 400px;
    border-radius: 5%;
}
/* modifica el icono */
.custom-swal-icon {
    border: none !important; /* Elimina cualquier borde que SweetAlert haya aplicado */
    font-size: 20px; /* Ajusta el tamaño del ícono según sea necesario */
    color: rgb(255, 255, 255); /* Color del ícono */
    padding: 0%;
    
}

/* mofifical el boton */
.custom-confirm-button-class {
    background-color:#081E33; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    border-color: #081E33; /* Cambia el color del borde del botón */
    padding-left: 40px; /* Ajusta el padding para hacer el botón más grande */
    padding-right: 40px;
    font-size: 18px;
}

