@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*Cuerpo*/
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.olvidaste{
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #081E33;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #081E33;
    min-width: 0;
}

/*Menú lateral*/
#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #107863;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: #081E33;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

@media (min-width: 768px) {}

/*Tabla de información*/
.container {
    align-items: center;
}

.container-xxl th,
.container-xxl td {
    text-align: center;
}

.container-xxl .btn-aspirantes,
.container-xxl .btn-modificar {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0;
}

/*Icononos dentro de la tabla*/
.btnIcono {
    background-color: #107863;
    color: white;
}


/*Formularios flotantes*/
.modal-content {
    border: 1px solid #fff;
    border-radius: .3rem;
    color: white;
}

.modal-header {
    background-color: #107863;
    border-bottom: 1px solid #dee2e6;
    color: white;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
    width: 100%;
    margin: 0;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #fff;
    opacity: 0.9;
}

.modal-header .close span {
    font-size: 1.5rem;
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-header.text-center {
    text-align: center;
}

.modal-body {
    padding: 1.5rem;
    background-color: #107863;
}

.modal-body .form-group {
    margin-bottom: 1rem;
}

.modal-body .form-group .col-form-label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 550;
}

.modal-body .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.modal-body .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.modal-body .form-group input[type="file"] {
    display: none;
}

.modal-body .form-group input[type="file"]+label {
    background-color: #f5f5f5;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    color: #495057;
    cursor: pointer;
    display: inline-block;
    font-size: .9rem;
    margin-top: .5rem;
    width: 100%;
    text-align: center;
}

.modal-body .form-group input[type="file"]:focus+label,
.modal-body .form-group input[type="file"]+label:hover {
    background-color: #e9ecef;
}

.modal-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    background-color: #107863;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
    justify-content: center;
}

.modal-footer .btn {
    margin-left: .25rem;
}

.modalBoton1 {
    background-color: #3D3D89;
    color: white;
    font-size: .9rem;
}

.modalBoton1:hover {
    background-color: #107863;
    color: white;
    font-size: .9rem;
    border: 1px solid #3D3D89;
}

.modalBoton2 {
    background-color: #081E33;
    color: white;
    font-size: .9rem;
}

.modalBoton2:hover {
    background-color: #107863;
    color: white;
    font-size: .9rem;
    border: 1px solid #081E33;
}


/*Paginador*/
.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #081E33;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    transition: all 0.3s;
    position: relative;
}

.page-link:hover {
    color: #fff;
    background-color: #107863;
    border-color: #107863;
}

.page-link:hover::after {
    content: attr(data-page);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #107863;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    white-space: nowrap;
}

.page-link:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #107863;
    border-color: #107863;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}


/* Estadisticas del home del admin */
.card {
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-custom {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #003366, #107863);
}

.card-title-custom {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text-custom {
    font-size: 2rem;
    font-weight: bold;
}

.icon-container {
    font-size: 2.5rem;
}

.icon-custom {
    /* Inicialmente sin animación */
}

.card:hover .icon-custom {
    animation: icon-bounce 1.5s infinite;
}

@keyframes icon-bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.main-container {
    margin-top: 50px;
}

.text-left {
    text-align: left;
}


/* clase para los estados */

.noactivo{
    color:#ff0000;
    background-color: #ff0000;
}

.activo{
    color: green;
}

.table-responsive{
    height: 100vh !important;
}